<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit configuration file with new format for PHPUnit 9.6+ -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" cacheResult="false" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="SSH React Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <!-- Evaluate assertions, requires running with "php -d zend.assertions=1 vendor/bin/phpunit" -->
    <!-- <ini name="zend.assertions" value="1" /> -->
    <ini name="assert.active" value="1"/>
    <ini name="assert.exception" value="1"/>
    <ini name="assert.bail" value="0"/>
  </php>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
  </source>
</phpunit>
